<div class="container">
  <div class="row">
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li [class.active]="activeTab=='Home'" class="active"><a [routerLink]="['Home']">Home</a></li>
            <li><a [routerLink]="['About']">About</a></li>
            <li *ngIf="!jwtDecoded"><a [routerLink]="['Signup']">Signup</a></li>
            <li *ngIf="!jwtDecoded"><a [routerLink]="['Login']">Login</a></li>
            <li *ngIf="jwtDecoded"><a role="button" (click)="logout()">Logout</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

  <modal #ModalLogin
      [hideCloseButton]="false"
      [closeOnEscape]="true"
      [closeOnOutsideClick]="true"
      (onClose)="onModalClose()"
  >
    <modal-header>
      <h2>Login</h2>
    </modal-header>
    <modal-content>
      <form role="form" (submit)="modalLogin($event, username.value, password.value)">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" #username class="form-control" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" #password class="form-control" id="password" placeholder="Password">
      </div>
      <div *ngIf="!runningLogin">
        <button type="submit" class="btn btn-default">Login</button>
      </div>
      <div *ngIf="runningLogin">
        <div class="spinner" >
          <div class="cube1">&lt;</div>
          <div class="cube2">&gt;</div>
        </div>
        <div class="cubetext">Loggin In</div>
      </div>

      </form>
    </modal-content>
  </modal>

  <auth-router-outlet [ModalLogin]="ModalLogin"></auth-router-outlet>
</div>
